[Unit]
Description=AMR SCM to MQTT
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 30
ExecStart=/opt/amrscm2mqtt/amrscm2mqtt

[Install]
WantedBy=multi-user.target
